@using Moovi.ViewModels
@model MoviesViewModel
@{
    var movie = Model ?? new MoviesViewModel()
    {
        Id = Guid.Empty,
        Title = ""
    };
}
<div class="card">

    @if (movie.FileName == null || movie.FilePath == null)
    {
        <img class="card-img-top" src="./assets/blank-image.jpg" alt="blank">
    }
    else
    {
        <img class="card-img-top" src="" alt="movie-cover" />
    }

    <div class="card-body">
        <div class="card-title">
            @Html.DisplayFor(i => movie.Title)
        </div>
    </div>

</div>